# IDE Files
#-------------------------
/nbproject/
.idea/*

# dependencies
node_modules/

# next.js
/.next/
/out/

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

