@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

* {
  scroll-behavior: smooth;
}

.sans-pro {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.kotak {
  background: white;
  color: black !important;
  // border: 2px solid #fff94d !important;
  box-shadow: 4px 5px 9px #dedede;
  padding: 15px 8px;
  font-weight: 500;
  transition: 1s;

  &:hover {
    background: #fff94d;
    transform: scale(1.1);
    transition: 1s;
  }
}

.fab {
  &:hover {
    transform: scale(1.1);
  }
}

// .kotak:hover,
// .kotak:focus {
//   box-shadow: inset -3.5em 0 0 0 adjust-hue(#fff94d, 45deg), inset 3.5em 0 0 0 adjust-hue(#fff94d, 45deg);
// }
